@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f9fafb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* Poziționează săgețile pe mijlocul sliderului, la stânga și la dreapta */
.slick-slider {
  /* background-color: #f9fafb;  */
  /* padding: 1rem; */
  border-radius: 1rem;
}

.slick-prev,
.slick-next {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #2563eb;
  color: white;
  border-radius: 9999px;
  /* padding: 0.5rem; */
  width: 2.5rem;
  height: 2.5rem;
}

/* Ajustează poziția pe axa X */
/* .slick-prev {
  left: -2.5rem;
}

.slick-next {
  right: -2.5rem;
} */

/* Iconițele din săgeți */
.slick-prev:before,
.slick-next:before {
  font-size: 1.25rem;
  color: white;
}

.slick-arrow {
  display: inline-block !important;
  vertical-align: middle;
  /* margin: 0 10px; */
}

.slick-slider .slick-dots {
  margin-top: 1rem;
}

.slick-slider {
  text-align: center; /* ✅ așează butoanele sub slider, centrate */
}

@media (max-width: 640px) {
  .slick-prev,
  .slick-next {
    display: block !important;
  }
}
/* #services-section {
  scroll-margin-top: -260px;
} */
/* Mărime și culoare puncte (dots) slick */
.slick-dots li button:before {
  font-size: 1.2rem !important;
  color: #9ca3af !important;
  opacity: 1 !important;
  margin-top: 25px;
}

.slick-dots li.slick-active button:before {
  color: #2563eb !important;
}
